/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/montserrat-v14-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/montserrat-v14-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-300italic - latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src: local("Roboto Light Italic"), local("Roboto-LightItalic"),
    url("../fonts/roboto-v20-latin-300italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v20-latin-300italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/roboto-v20-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v20-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* kaushan-script-regular - latin */
@font-face {
  font-family: "Kaushan Script";
  font-style: normal;
  font-weight: 400;
  src: local("Kaushan Script"), local("KaushanScript-Regular"),
    url("../fonts/kaushan-script-v8-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/kaushan-script-v8-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
:root {
  --first-font: "Montserrat", sans-serif;
  --secondery-font: "Roboto", sans-serif;
  --third-font: "Kaushan Script";
  --first-color: #95e1d3;
  --secondery-color: #fce38a;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.link {
  text-decoration: none;
  display: block;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.title {
  margin: 0 auto;
  text-align: center;
}
.btn {
  display: block;
  padding: 0;
  border: 0;
  text-transform: none;
  cursor: pointer;
}
.conteiner {
  width: 1200px;
  margin: 0 auto;
}
.header {
  padding-top: 26px;
  padding-bottom: 230px;
}
.banner {
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(#fce38ae6),
      to(#f38181e6)
    ),
    url(../img/banner/banner.png);
  background-image: -o-linear-gradient(bottom, #fce38ae6, #f38181e6),
    url(../img/banner/banner.png);
  background-image: linear-gradient(to top, #fce38ae6, #f38181e6),
    url(../img/banner/banner.png);
  background-size: cover;
  background-position: center;
}
.sit-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin-bottom: 160px;
}
.site-logo__link {
  font-family: var(--first-font);
  font-size: 1.875rem;
  font-weight: bold;
  line-height: 1.2;
  color: #ffffff;
}
.sit-logo:hover .site-logo__link {
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
  color: #fce38a;
}
.navigation-list {
  width: 618px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.navigation-icon {
  width: 18px;
  height: 18px;
  fill: #ffffff;
}
.navigation-list__item:not(:nth-last-child(-n + 2))::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fce38a;
  margin-top: 10px;
  visibility: hidden;
  opacity: 0;
}
.navigation-list__item:hover.navigation-list__item::after {
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
  visibility: visible;
  opacity: 1;
}
.navigation-list__item:hover .navigation-list__item-link {
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
  color: #fce38a;
}
.navigation-list__item-link:hover .navigation-icon {
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
  fill: #fce38a;
}
.navigation-list__item-link {
  font-family: var(--first-font);
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.2;
  color: #ffffff;
}
.above-title {
  margin: 0 auto;
  text-align: center;
  font-family: var(--third-font);
}
.header .above-title {
  font-size: 4.5rem;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 26px;
}
.header-title {
  font-family: var(--first-font);
  font-size: 9.375rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 140px;
  color: #ffffff;
  padding-left: 182px;
  padding-right: 182px;
  margin-bottom: 90px;
}
.btn__header {
  width: 160px;
  height: 40px;
  border: solid 3px #ffffff;
  background-color: rgba(0, 0, 0, 0);
  margin: 0 auto;
  font-family: var(--first-font);
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
  color: #ffffff;
}
.section-services {
  padding-top: 54px;
}
.section-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: rgb(243, 129, 129);
  margin: 0 auto;
  margin-top: 40px;
}
.section .above-title {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2;
  color: #333333;
  margin-bottom: 18px;
}
.section-title {
  font-family: var(--first-font);
  font-size: 1.875rem;
  font-weight: bold;
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  line-height: 1.2;
}
.services-title {
  margin-bottom: 64px;
}
.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.services-list__item {
  width: 380px;
  padding-left: 82px;
  background-repeat: no-repeat;
  background-size: 32px;
  background-position-x: 20px;
}
.icon-clock {
  background-image: url(../img/icons/icon-clock.svg);
}
.icon-graph {
  background-image: url(../img/icons/icon-graph.svg);
}
.icon-comp {
  background-image: url(../img/icons/icon-comp.svg);
}
.icon-book {
  background-image: url(../img/icons/icon-book.svg);
}
.icon-home {
  background-image: url(../img/icons/icon-home.svg);
}
.icon-image {
  background-image: url(../img/icons/icon-image.svg);
}
.item-title {
  font-family: var(--first-font);
  font-size: 0.875rem;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  margin-bottom: 18px;
}
.text {
  margin: 0;
  font-family: var(--secondery-font);
  font-size: 0.9375rem;
  font-weight: 400;
  color: #999999;
  line-height: 1.6;
}
.services-list__item:not(:nth-child(n + 4)) {
  margin-bottom: 98px;
}
.section-team {
  padding-top: 96px;
  padding-bottom: 82px;
}
.section-team .section-title {
  margin-bottom: 44px;
}
.section-team .text {
  text-align: center;
  margin-bottom: 90px;
}
.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.wrapper {
  position: relative;
  margin-bottom: 30px;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#fce38ae6),
    to(#f38181e6)
  );
  background-image: -o-linear-gradient(bottom, #fce38ae6, #f38181e6);
  background-image: linear-gradient(to top, #fce38ae6, #f38181e6);
  visibility: hidden;
  opacity: 0;
}
.overlay-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.overlay-list__item-link {
  width: 56px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--secondery-color);
}
.overlay-list__item:not(:last-child) {
  margin-right: 1px;
}
.social-icon {
  width: 26px;
  height: 26px;
  fill: #f38181;
}
.wrapper:hover {
  -webkit-transform: translate(-10px, -10px);
  -ms-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
  -webkit-box-shadow: 10px 10px #95e1d3;
  box-shadow: 10px 10px #95e1d3;
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
.wrapper:hover .overlay {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
.overlay-list__item:hover .overlay-list__item-link {
  background-color: #f38181;
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
.overlay-list__item:hover .social-icon {
  fill: #ffffff;
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
.team-list__item .item-title {
  text-align: center;
}
.team-position {
  font-family: var(--secondery-font);
  font-size: 0.9375rem;
  font-style: italic;
  line-height: 1.6;
  color: #999999;
  text-align: center;
}
.footer {
  padding: 26px 0;
  border-top: solid 1px #e5e5e5;
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer__text {
  font-family: var(--first-font);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.2;
  color: #333333;
  margin: 0;
}
.footer__link {
  display: inline;
  color: #f38181;
}
.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}
.contact-form__input {
  padding-left: 12px;
  width: 229px;
  height: 40px;
  border: solid 1px #e7e7e7;
}
::-webkit-input-placeholder {
  font-family: var(--secondery-font);
  font-size: 0.9375rem;
  font-style: italic;
  line-height: 1.6;
  color: #6e4040;
  text-align: left;
}
::-moz-placeholder {
  font-family: var(--secondery-font);
  font-size: 0.9375rem;
  font-style: italic;
  line-height: 1.6;
  color: #6e4040;
  text-align: left;
}
:-ms-input-placeholder {
  font-family: var(--secondery-font);
  font-size: 0.9375rem;
  font-style: italic;
  line-height: 1.6;
  color: #6e4040;
  text-align: left;
}
::-ms-input-placeholder {
  font-family: var(--secondery-font);
  font-size: 0.9375rem;
  font-style: italic;
  line-height: 1.6;
  color: #6e4040;
  text-align: left;
}
::placeholder {
  font-family: var(--secondery-font);
  font-size: 0.9375rem;
  font-style: italic;
  line-height: 1.6;
  color: #6e4040;
  text-align: left;
}
.contact-form__btn {
  width: 150px;
  height: 40px;
  background-color: #95e1d3;
  font-family: var(--first-font);
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.2;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
}
@media (-webkit-min-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2/1),
  (min-resolution: 192dpi) {
  .banner {
    background-image: url(../img/banner/banner@2x.png);
  }
}
